body{
    background-color: #EAE4D5;
}
/* Header Section */
#navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Three equal columns */
    gap: 20px;padding: 10px;
    background-color: #F2F2F2;
  }
  .nPart1 {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  .nPart2 {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  .nPart3 {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-weight: bold;
  }

  
.navbar2{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}
.navbar2 > li{
    list-style-type: none;
}

